body{
  min-width: 99%;
  min-height: 99%;
  position: absolute;
  padding: 25px;
  line-height: 1.5;
}

.text-element a, a.text-element{
  color: inherit;
  text-decoration: inherit;
}
.text-element a:hover, a.text-element:hover{
  color: rgb(102,102,102);
}
/* Remove dots surrounding links in Firefox
    because of normalize.css */
a:focus{ outline: none;}

.example-list li a{
    color:rgb(102,102,102);
}

.example-list li a:hover{
    color:black;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
}

.example-list li.current-example a{
    color: black;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
}

.text-element HEADER,
.text-element H1,
.text-element H2,
.text-element H3,
.text-element {
    font-weight: bold;
    color: rgb(102,102,102);
}
.text-element,
.text-element H1,
.text-element H2,
.text-element HEADER {
    color: black;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
    font-size: 20px;
}
.text-element HEADER {
    font-weight: normal;
    font-size: 35px;
}
.text-element * {
    color: black;
    font-weight: normal;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
}
.text-element{
    font-size: 14px;
}
.text-element a {
    font-weight: bold;
}

.footer .text-element {
    color: grey;
    font-size: 12px;
}

html
{
    overflow-y: auto;
    overflow-x: hidden;
}


.body-container {
    position:relative;
    width: 60%;
    min-width: 600px
    min-height: 100%;
    height: 100%/*1100px;*/
    cursor: auto; 
    background-attachment: scroll; 
    background-color: black; 
    background-size: auto auto; 
    top: 0px; 
    left: 0px;
}


.start-page {
    position: relative;
    border-radius: 10px;
    background-color: black;/*rgb(240, 240, 240); */
    top: 0; 
    left: 0;
    width: 1000px;
    min-height: 100px; 
    background-attachment: scroll; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    padding: 0;
}

.background-image-container {
    position: relative;
    border-radius: 10px;
    background-color: rgb(240, 240, 240); 
    top: 0; 
    left: 0;
    width: 1000px;
    min-height: 100px; 
    background-attachment: scroll; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.hidden-element {
    display: none;
}

.hidden{
    visibility: hidden;
}

.start-page{
    float:center;
}

.page-placeholder-1 {
    position: relative; 
    width: 900px; 
    top: 112px; 
    background-color: transparent; 
    left: 0px; 
    height: 16px; 
    border-top-width: 2px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(153,153,153); 
    border-right-color: rgb(204, 204, 204); 
    border-bottom-color: rgb(153,153,153); 
    border-left-color: rgb(204, 204, 204); 
}

.page-placeholder-2 {
    position: relative; 
    width: 900; 
    top: 0px; 
    background-color: transparent; 
    left: 0px; 
    height: 0px; 
    border-top-width: 2px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: solid; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-color: rgb(204, 204, 204); 
    border-right-color: rgb(204, 204, 204); 
    border-bottom-color: rgb(204, 204, 204); 
    border-left-color: rgb(204, 204, 204);
    margin-bottom: 30px;
    margin-top: 30px;
}


.logo-container {
    border-radius: 10px;
    left:50px;
    top: 80px;
    position: absolute; 
    background-color: transparent; 
    border-width: 0px;
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    height: 36px; 
    border-top-color: rgb(69, 69, 69); 
    border-right-color: rgb(69, 69, 69); 
    border-bottom-color: rgb(69, 69, 69); 
    border-left-color: rgb(69, 69, 69); 
    float:left;
}

.logo-left{
    display:block;
    background-image: url('../images/tab_h.png'); 
    padding: 0 5px 0 20px;   
    text-shadow: 0px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
    color: white;
}

.logo-right{
    background-image: url('../images/tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
    display:block;
    padding: 0 50px 0 50px;
}

.main-content {
    display: inherit;
    position: relative; 
    min-width: 600px;
    width: 84%; 
    top: 100px; 
    left: 8%; 
    background-color: transparent; 
    min-height:200px;
    overflow: hidden;
}

code {
    font-family: courier new, monospace;
    background-color: white;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-color: white;
}

.boxshadow{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);    
}

.code-style{
    position:relative;
    left:2%;
    width:94%;
    font-family: courier new, monospace;
    background-color: white;
    border-width: 1%;
    border-style: solid;
    border-color: white;
}

.welcome-paragraph{
    position: absolute; 
    top: 40px; 
    left: 0; 
    width: 100%; 
    height:80px;
    text-align:center;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
    padding: 10px; 
}

.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(51,51,51);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: -1px;  
}

.centered-image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

span.spacer {
   padding:0 5px;
}

ol li{
    padding-top:3px;
    padding-bottom:3px;
}

.bold {
    font-weight:bold;
}

.googletable{
    position:relative;
    width:500px;
    left: 50%;
    transform: translateX(-50%);
}