[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/svn2github/googletest.git
[submodule "build/RFFGen"]
	path = build/RFFGen
	url = https://github.com/lubkoll/RFFGen.git
