[project]
	description = Vector space algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lubkoll
	label-Code-Review = -2..+2 group user/lubkoll
	label-Verified = -1..+1 group user/lubkoll
[access "refs/for/refs/*"]
	read = group Spacy
	read = group user/lubkoll
	push = group Spacy
	push = group user/abstruse-goose
	push = group user/lubkoll
	label-Code-Review = -2..+2 group Spacy
	label-Code-Review = -2..+2 group user/lubkoll
	label-Verified = -1..+1 group Spacy
	label-Verified = -1..+1 group user/lubkoll
	rebase = group Spacy
	rebase = group user/lubkoll
	removeReviewer = group Spacy
	removeReviewer = group user/lubkoll
	submit = group Spacy
	submit = group user/lubkoll
[access "refs/heads/*"]
	read = group Spacy
	read = group user/lubkoll
	create = group Spacy
	create = group user/lubkoll
	push = group Spacy
	push = +force group user/lubkoll
	pushMerge = group Spacy
	pushMerge = group user/lubkoll
[access "refs/tags/*"]
	push = +force group user/lubkoll
	pushTag = group user/lubkoll
	pushSignedTag = group user/lubkoll
