[project]
	description = Vector space algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lars Lubkoll (lubkoll)
	label-Code-Review = -2..+2 group Spacy
	label-Code-Review = -2..+2 group user/Lars Lubkoll (lubkoll)
	label-Verified = -1..+1 group Spacy
	label-Verified = -1..+1 group user/Lars Lubkoll (lubkoll)
[access "refs/for/refs/*"]
	read = group Spacy
	read = group user/Lars Lubkoll (lubkoll)
	push = group Spacy
	push = group user/Lars Lubkoll (lubkoll)
	label-Code-Review = -2..+2 group Spacy
	label-Code-Review = -2..+2 group user/Lars Lubkoll (lubkoll)
	label-Verified = -1..+1 group Spacy
	label-Verified = -1..+1 group user/Lars Lubkoll (lubkoll)
	rebase = group Spacy
	rebase = group user/Lars Lubkoll (lubkoll)
	removeReviewer = group Spacy
	removeReviewer = group user/Lars Lubkoll (lubkoll)
	submit = group Spacy
	submit = group user/Lars Lubkoll (lubkoll)
[access "refs/heads/*"]
	read = group Spacy
	read = group user/Lars Lubkoll (lubkoll)
	create = group Spacy
	create = group user/Lars Lubkoll (lubkoll)
	push = group Spacy
	push = +force group user/Lars Lubkoll (lubkoll)
	pushMerge = group Spacy
	pushMerge = group user/Lars Lubkoll (lubkoll)
	submit = group Spacy
[access "refs/tags/*"]
	push = group Spacy
	push = +force group user/Lars Lubkoll (lubkoll)
	createTag = group Spacy
	createTag = group user/Lars Lubkoll (lubkoll)
	createSignedTag = group Spacy
	createSignedTag = group user/Lars Lubkoll (lubkoll)
