[project]
	description = Vector space algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lubkoll
[access "refs/for/refs/*"]
	read = group user/lubkoll
	push = group user/lubkoll
	label-Code-Review = -2..+2 group user/lubkoll
	label-Verified = -1..+1 group user/lubkoll
	rebase = group user/lubkoll
	removeReviewer = group user/lubkoll
	submit = group user/lubkoll
[access "refs/heads/*"]
	read = group user/lubkoll
	create = group user/lubkoll
	push = +force group user/lubkoll
	pushMerge = group user/lubkoll
[access "refs/tags/*"]
	push = +force group user/lubkoll
	pushTag = group user/lubkoll
	pushSignedTag = group user/lubkoll
